/* 검색바 - Start */

input.search {
  width: 100%;
  border: 0;
  font-size: 16px;
}

input.search:focus {
  outline: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 36px;
  width: 518px;
  border: 2px solid #1890ff;
  padding: 0 10px;
}

/* 검색바 - End */

/* 상단바(검색바 포함) - Start */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1010px;
  height: 90px;
}

.category-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 90px;
  height: 100%;
  color: #ffffff;
  background-color: #1890ff;
}

.logo {
  width: 174px;
  height: 41px;
}

.top-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

span[role="img"] {
  font-size: 30px;
  color: #5b5b5b;
  margin-bottom: 5px;
}

/* 상단바(검색바 포함) - End */
