/* 검색바 - Start */

input.search {
  width: 100%;
  border: 0;
  font-size: 16px;
}

input.search:focus {
  outline: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 36px;
  width: 518px;
  border: 2px solid #1890ff;
  padding: 0 10px;
}

/* 검색바 - End */

/* 상단바(검색바 포함) - Start */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1010px;
  height: 90px;
}

.category-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 90px;
  height: 100%;
  color: #ffffff;
  background-color: #1890ff;
}

.logo {
  width: 174px;
  height: 41px;
}

.top-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

span[role="img"] {
  font-size: 30px;
  color: #5b5b5b;
  margin-bottom: 5px;
}

/* 상단바(검색바 포함) - End */

/* 카테고리 추천 - Start */

.remommand {
  padding: 20px 0 0 0;
}

.remommand-title {
  width: 1010px;
  height: 90px;
}

.remommand-title > h1,
h2 {
  margin-bottom: -10px;
}

.remommand-title span {
  color: #1890ff;
}

.recommand-products {
  width: 1010px;
}

.recommand-products {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
}

.recommand-products .category-name {
  width: 185px;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
}

.ant-list-bordered {
  border-width: 0 0 0 0;
}

/* 카테고리 추천 - End */
